#
# Copyright (c) 2015, Josef Mihalits
#
# This software may be distributed and modified according to the terms of
# the BSD 2-Clause license. Note that NO WARRANTY is provided.
# See "COPYING" for details.
#

menuconfig APP_TRON
    bool "seL4Tron - Tron for seL4"
    default y
    depends on LIB_SEL4 && LIB_CPIO && (LIB_MUSL_C || LIB_SEL4_C) && LIB_SEL4_PLAT_SUPPORT && LIB_SEL4_VKA && LIB_SEL4_UTILS && LIB_UTILS
    help
        Tron for seL4
